# Android
gen/
lint.xml

# Eclipse
bin/
.classpath
.project
.settings
.cache
.checkstyle

#IntelliJ IDEA
out/
.idea
*.iml
*.ipr
*.iws

# Maven
target/
pom.xml.*
release.properties

# Gradle
build/
.gradle/

# SBT
target/
tmp/
dist/

# other
.DS_Store
*~

