# Eclipse
bin/
.classpath
.project
.settings
.cache
.checkstyle

# IntelliJ IDEA
out/
.idea
*.iml
*.ipr
*.iws

# Maven
target/
pom.xml.*
release.properties

# Gradle
build/
.gradle/
.gradletasknamecache

# SBT
tmp/
dist/

# runtime
.env.local
.env.development.local
.env.test.local
.env.production.local
logs/
*.log

# Yarn/NPM
node_modules/
coverage/
es/
lib/
demo/dist/
pacts/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json
/tests/e2e/reports/
-selenium-debug.log

# other
.DS_Store
Thumbs.db
*.lnk
*~
