/*
 * Theme:
 * - Hauptfarbe Rot
 * - warmes Grau
 */
.theme-red {
  // TODO: Farbcodes für übrige Farben definieren
  --color-primary-200: #facdcd;
  --color-primary-400: #e66a6a;

  --color-accent-200: #fff3C4;

  --color-neutral-100: #faf9f7;
  --color-neutral-200: #f2efe9;
  --color-neutral-300: #dbd6cc;
  --color-neutral-400: #bfb9ac;
  --color-neutral-500: #9a9384;
  --color-neutral-600: #7b7465;
  --color-neutral-700: #625c50;
  --color-neutral-800: #484337;
  --color-neutral-900: #27241d;
}

/*
 * Theme:
 * - Hauptfarbe Grün
 * - neutrales Grau
 */
.theme-green {
  // TODO: Farbcodes für übrige Farben definieren
  --color-primary-200: #bfddd5;
  --color-primary-400: #4da088;

  --color-accent-200: #ffefe6;

  --color-neutral-100: #f7f7f7;
  --color-neutral-200: #ededed;
  --color-neutral-300: #d9d9d9;
  --color-neutral-400: #bdbdbd;
  --color-neutral-500: #949494;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #424242;
  --color-neutral-900: #212121;
}

/*
 * Theme:
 * - Hauptfarbe Blau
 * - kaltes Grau
 */
.theme-blue {
  // TODO: Farbcodes für übrige Farben definieren
  --color-primary-200: #c0daf0;
  --color-primary-400: #4098D7;

  --color-accent-200: #fcefc7;

  --color-neutral-100: #f5f7fa;
  --color-neutral-200: #e3e8ed;
  --color-neutral-300: #c0cbd6;
  --color-neutral-400: #9cadbf;
  --color-neutral-500: #778fA6;
  --color-neutral-600: #5B748b;
  --color-neutral-700: #495C6f;
  --color-neutral-800: #344250;
  --color-neutral-900: #1d262e;
}

/*
 * Theme: Dark-Variante des theme-blue
 */
.theme-blue-dark {
  // TODO: Farbcodes für Farben & Card-Background definieren
  --color-primary-400: #eee;
  --color-neutral-200: #243B53;
}
