.theme-transition {
  transition: background-color .25s;
}

// TODO: Entfernen mit Tailwind CSS v1.3 -> https://github.com/tailwindcss/tailwindcss/pull/1462
.delay-100 {
  transition-delay: 100ms;
}
.delay-200 {
  transition-delay: 200ms;
}
