.theme-transition {
  transition: background-color .25s;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.125s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// TODO: Entfernen mit Tailwind CSS v1.3 -> https://github.com/tailwindcss/tailwindcss/pull/1462
.delay-100 {
  transition-delay: 200ms;
}
