/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower





/////////////////////////////////////////
// allgemeine Styles
/////////////////////////////////////////

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// vertikales Ausrichten von Tabellenzellen-Inhalt
.vertical-align {
    display: flex;
    align-items: center;
}

// entfernt oberhalb der ersten Tabellenzeile die Border
.table-no-top-border {
  tr:first-child > td {
    border-top: none;
  }
}

.content {
  padding-bottom: 10px;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
