/////////////////////////////////////////
// allgemeine Styles
/////////////////////////////////////////

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// vertikales Ausrichten von Tabellenzellen-Inhalt
.vertical-align {
    display: flex;
    align-items: center;
}

// entfernt oberhalb der ersten Tabellenzeile die Border
.table-no-top-border {
  tr:first-child > td {
    border-top: none;
  }
}

.content {
  padding-bottom: 10px;
}



// injector
// endinjector
