.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.offer-name {
  padding-right: 8px;
}

.offer-price {
  text-align: right;
  white-space: nowrap;
  padding-left: 0;
}

// injector
// endinjector
