@import domain.models._

@(offers: Seq[LunchOffer], providers: Set[LunchProvider])

<div>
  @for((providerId, provOffers) <- offers.groupBy(_.provider)) {
    <table style="border:0px;">
      <tr style="padding-bottom: 1.5em;">
        <th>@{ providers.find(_.id == providerId).get.name }</th>
        <th></th>
      </tr>
      @for(offer <- provOffers) {
        <tr style="padding-bottom: 1.5em;">
          <td>@{ offer.name }</td>
          <td style="vertical-align: top;">
            <span style="white-space: nowrap;">@{ "%d,%02d €".format(offer.price.getAmountMajorInt, offer.price.getMinorPart) }</span>
          </td>
        </tr>
      }
    </table>
  }
</div>
