@import domain.models._

@(offers: Seq[LunchOffer], providers: Set[LunchProvider])

<div>
  <style type="text/css" scoped>
  { "table { border:0px; } td { vertical-align: top; } span { white-space: nowrap; } tr { padding-bottom: 1.5em; }" }
  </style>
  @for((providerId, provOffers) <- offers.groupBy(_.provider)) {
    <table>
      <tr>
        <th>@{ providers.find(_.id == providerId).get.name }</th>
        <th></th>
      </tr>
      @for(offer <- provOffers) {
        <tr>
          <td>@{ offer.name }</td>
          <td>
            <span style="white-space: nowrap;">@{ "%d,%02d €".format(offer.price.getAmountMajorInt, offer.price.getMinorPart) }</span>
          </td>
        </tr>
      }
    </table>
  }
</div>
