image: node:krypton-alpine

# Cachen der Dependencies
# - Der Cache beschleunigt den CI-Lauf durch Vorhalten von Dependencies & anderen Downloads.
# - key: ${CI_COMMIT_REF_SLUG} cacht für alle CI-Läufe eines Branches, 'any-key' cacht für alle CI-Läufe eines Projekts
# - Jobs des selben CI-Laufs tauschen ihre Resultate via 'artifacts' aus, nicht per Caching!
# - ACHTUNG: Das Caching greift nicht zwingend! Jeder Job muss darauf gefasst sein, den Cache neu aufzubauen!
# - Doku siehe https://docs.gitlab.com/ee/ci/caching/
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - frontend-web-vue/node_modules/
  policy: pull

before_script:
  - cd frontend-web-vue # Gitlab startet Jobs in Root-Pfad. Die meisten folgenden Aufrufe sind jedoch auf den Sub-Pfad bezogen.
  - export CI=true # vermeidet interaktive npm-Aufrufe

stages:
  - build
  - test
  - publish

install & build:
  stage: build
  script:
    - npm install --non-interactive
    - npm run build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - frontend-web-vue/node_modules/
    policy: pull-push
  artifacts:
    paths:
      - frontend-web-vue/dist/
    expire_in: 1 hour

lint:
  stage: test
  script:
    - "[ ! -d node_modules/ ] && npm install --non-interactive" # falls der CI-Cache nicht greift, Abhängigkeiten neu runterladen
    - npm run lint:check

typecheck:
  stage: test
  script:
    - "[ ! -d node_modules/ ] && npm install --non-interactive" # falls der CI-Cache nicht greift, Abhängigkeiten neu runterladen
    - npm run typecheck

unit:
  stage: test
#  coverage: '/All files([^|]*\|){4}[^|]*\s+([\d\.]+)/'
  script:
    - "[ ! -d node_modules/ ] && npm install --non-interactive" # falls der CI-Cache nicht greift, Abhängigkeiten neu runterladen
    - npm run test:report
  artifacts:
    when: always
    reports:
      junit: frontend-web-vue/tests/unit/report.xml

# TODO: End-to-End-Tests benötigen Chrome oder Firefox
.e2e:
  stage: test
  script:
    - "[ ! -d node_modules/ ] && npm install --non-interactive" # falls der CI-Cache nicht greift, Abhängigkeiten neu runterladen
    - npm run test:e2e

vulnerabilities code:
  image:
    name: aquasec/trivy
    entrypoint: [""]
  variables:
    TRIVY_NO_PROGRESS: "true"
    TRIVY_CACHE_DIR: ".trivycache/"
  script:
    - trivy --version
    - trivy clean --scan-cache
    - time trivy fs --download-db-only --db-repository docker-ghcr.rori.dev/aquasecurity/trivy-db --java-db-repository myregistry.local/trivy-java-db --checks-bundle-repository myregistry.local/trivy-checks
    - time trivy fs --exit-code 0 --format template --template "@/contrib/gitlab.tpl" --output gl-container-scanning-report.json package-lock.json
    - time trivy fs --exit-code 0 package-lock.json
    - time trivy fs --exit-code 1 --severity CRITICAL package-lock.json
  cache:
    paths:
      - frontend-web-vue/.trivycache/
  artifacts:
    when: always
    reports:
      container_scanning: frontend-web-vue/gl-container-scanning-report.json

vulnerabilities docker:
  stage: test
  image: docker
  services:
    - docker:dind # https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker-workflow-with-docker-executor
  variables:
    DOCKER_HOST: 'tcp://docker:2375'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    IMAGE: trivy-ci-test:$CI_COMMIT_SHA
    TRIVY_NO_PROGRESS: "true"
    TRIVY_CACHE_DIR: ".trivycache/"
  script:
    - export TRIVY_VERSION=$(wget -qO - "https://api.github.com/repos/aquasecurity/trivy/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
    - echo $TRIVY_VERSION
    - wget --no-verbose https://github.com/aquasecurity/trivy/releases/download/v${TRIVY_VERSION}/trivy_${TRIVY_VERSION}_Linux-64bit.tar.gz -O - | tar -zxvf -
    - cd nginx && ./build.sh && cd ..
    - docker build --tag $IMAGE .
    - ./trivy clean --scan-cache
    - ./trivy image --download-db-only --db-repository docker-ghcr.rori.dev/aquasecurity/trivy-db --java-db-repository myregistry.local/trivy-java-db --checks-bundle-repository myregistry.local/trivy-checks
    - ./trivy image --exit-code 0 --format template --template "@contrib/gitlab.tpl" -o gl-container-scanning-report.json $IMAGE
    - ./trivy image --exit-code 0 --severity HIGH $IMAGE
    - ./trivy image --exit-code 1 --severity CRITICAL $IMAGE
  cache:
    paths:
      - frontend-web-vue/.trivycache/
  artifacts:
    when: always
    reports:
      container_scanning: frontend-web-vue/gl-container-scanning-report.json

docker:
  stage: publish
  image: docker
  services:
    - docker:dind # https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker-workflow-with-docker-executor
  variables:
    CONTAINER_NAME: lunchbox-frontend
    DOCKER_REGISTRY_ADDR: $DOCKER_REGISTRY_ADDR # wird von Gitlab hereingereicht
    DOCKER_REGISTRY_USER: $DOCKER_REGISTRY_USER # wird von Gitlab hereingereicht
    DOCKER_REGISTRY_TOKEN: $DOCKER_REGISTRY_TOKEN # wird von Gitlab hereingereicht
    DOCKER_HOST: 'tcp://docker:2375'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  only:
    - master
  script:
    - cd nginx && ./build.sh && cd ..
    - echo "$DOCKER_REGISTRY_TOKEN" | docker login -u $DOCKER_REGISTRY_USER --password-stdin $DOCKER_REGISTRY_ADDR
    - docker build --tag ${DOCKER_REGISTRY_ADDR}/${CONTAINER_NAME}:latest .
    - docker push ${DOCKER_REGISTRY_ADDR}/${CONTAINER_NAME}:latest
