@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Chewy'), url(/fonts/Chewy.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Inter'), url(/fonts/Inter-latin+ext-300.woff2) format('woff2')
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), url(/fonts/Inter-latin+ext-400.woff2) format('woff2')
}
