spring:
  output:
    ansi:
      enabled: ALWAYS

  threads:
    virtual:
      enabled: true

  jackson:
    default-property-inclusion: NON_NULL

server:
  compression:
    enabled: true
  http2:
    enabled: true
